@use "./styles/tokens" as tokens;

:root {
  @include tokens.theme-vars(calc(100vh - 140px));
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;
  color: var(--ink);
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: red;
  // background:
  //   radial-gradient(
  //     circle at 15% 20%,
  //     rgba(42, 125, 114, 0.18),
  //     transparent 45%
  //   ),
  //   radial-gradient(
  //     circle at 80% 10%,
  //     rgba(226, 167, 79, 0.18),
  //     transparent 45%
  //   ),
  //   linear-gradient(140deg, var(--bg), var(--bg-2));
}

#root {
  min-height: 100vh;
}

button,
input,
select {
  font: inherit;
}
